h1 {
	text-align: center;
}

/* Boxes */
	/*.play-area {
		border: 1px solid black;
	}*/
	.header {
		border-bottom: 1px solid black;
		padding-bottom: 5px;
		margin-bottom: 2vh;
	}
	.left-top-corner {
		border-bottom: 1px solid black;
		padding-bottom: 5px;
		margin-bottom: 2vh;
	}
	.game-commands-options {
		border-bottom: 1px solid black;
		padding-bottom: 5px;
		margin-bottom: 2vh;
	}
	.char-stats {
		padding-right: 5px;
		margin-right: 2vh;
	}
	.right-top-corner {
		border-bottom: 1px solid black;
		padding-bottom: 5px;
		margin-bottom: 2vh;
	}
	.right-middle {
		border-bottom: 1px solid black;
		padding-bottom: 5px;
		margin-bottom: 2vh;
	}
	.play-area {
		border: 0 1px 1px 1px solid black; /* Incorrect */
		padding: 0 5px 5px 5px;
		margin: 0 2vw 2vh 2vw;
	}
	.bottom-middle {
		border: 0 1px 1px 1px solid black; /* Incorrect */
		padding: 0 5px 5px 5px;
		margin: 0 2vw 2vh 2vw;	
	}