/* Applying main css grids */
	/* Main content */
		.container {
			width: 100%;
			display: grid;
			grid-template-areas:	"header header header"
									"left-top-corner play-area right-top-corner"
									"game-commands-options play-area right-middle"
									"char-stats bottom-middle right-bottom-corner";
			grid-template-rows: minmax(5vh, auto) minmax(100px, 1fr) minmax(300px, 2fr) minmax(100px, 1fr);
			grid-template-columns: 1fr 2fr 1fr;
		}

	/* Header */
		/* Position the header and create nested grids */
		.header {
			grid-area: header;
			width: 100%;
			display: grid;

			/* Setting up nested grids*/
			grid-template-areas: "header-left header-middle header-right";
			grid-template-columns: 1fr 2fr 1fr;
		}
			/* add nested grids*/
			.header-left {
				grid-area: header-left;
			}
			.header-middle {
				grid-area: header-middle;
			}
			.header-right {
				grid-area: header-right;
			}

/* Positioning the grid items (boxes/areas) */
	.left-top-corner {
		grid-area: left-top-corner;
	}

	/* Unused */
	.top-middle {
		grid-area: play-area;
	}

	.right-top-corner {
		grid-area: right-top-corner;
	}

	.game-commands-options {
		grid-area: game-commands-options;
	}

	.play-area {
		grid-area: play-area;
	}

	.right-middle {
		grid-area: right-middle;
	}

	.char-stats {
		grid-area: char-stats;
	}
	.left-bottom-corner {
		grid-area: left-bottom-corner;
	}
	.bottom-middle {
		grid-area: bottom-middle;
	}
	.right-bottom-corner {
		grid-area: right-bottom-corner;
	}